body{
    background-color: grey;
    color: aliceblue;
}
main{
    text-align: center;
}
header{
    text-align: center;
}
img{
    width: 40%;
}
.img{
    background-color: rgb(255, 2, 2);
    margin: 10%;
    padding: 10%;
    border: 2%;
}
